<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IOT Intrusion Detection Model</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <h1>Enter Network Values</h1>

    <h2>Rules</h2>
    <ul>
        <li>Make Sure that you enter a dictionary in the format {"features":[1,2,3,4,...]}</li>
        <li>Make sure the list of features contains 84 features</li>
    </ul>

    <input type="text" name="item" hx-post="/add-item" hx-trigger="keyup delay:500ms changed"
        hx-target="#search-results" hx-swap="outerHTML" placeholder="Enter features">
    <div id="search-results">
    </div>
</body>

</html>